<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OncoligandDB - {{ cancer_type | capitalize }} Cancer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>{{ cancer_type | capitalize }} Cancer Ligands</h2>
    <table border="1">
        <tr>
            <th>Product</th>
            <th>Year</th>
            <th>DrugBank ID</th>
            <th>CHEMBL</th>
            <th>Indication</th>
            <th>SMILES</th>
            <th>PDB Link</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.Product }}</td>
            <td>{{ row.year }}</td>
            <td><a href="{{ row.drugbank_id }}">{{ row.drugbank_id }}</a></td>
            <td><a href="{{ row.chembl }}">{{ row.chembl }}</a></td>
            <td>{{ row.indication }}</td>
            <td>{{ row.SMILES }}</td>
            <td>
                {% if row.pdb_link %}
                <a href="{{ row.pdb_link }}">Download PDB</a>
                {% else %}
                <form action="/convert_smiles_to_pdb" method="post">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="smiles" value="{{ row.SMILES }}">
                    <input type="hidden" name="ligand_name" value="{{ row.Product }}">
                    {{ form.submit() }}
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

